$primary: #2f48a4;

$form-check-input-checked-color: $primary;

@import "../node_modules/bootstrap/scss/bootstrap";

.btn {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}
